<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}" />

</head>

<body>
    </div>
    <header th:fragment="header">
        <div class="">
            <div class="col-6 offset-2">
                <img src="/images/logo.png" height="100px" alt="">
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark  " style="background-color:#2A499B;">
            <div class="container">
                <a class="navbar-brand m-1 " th:href="@{/empleos/inicio}">Inicio</a>
                <a class="navbar-brand m-1" th:href="@{/empleos/inicio}">Encontrar Empleo</a>
                <a class="navbar-brand m-1" th:href="@{/empleos/inicio}">Empresas</a>
                <a class="navbar-brand m-1" th:href="@{/empleos/inicio}">¿Quienes somos?</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0 ">
                        <li class="nav-item m-1 "><a class="nav-link" th:href="@{/votantes/listaV}"><i
                                    class="fa-regular fa-user"></i> Ingresar</a></li>
                        <li class="nav-item m-1"><a class="nav-link btn btn-primary text-white"
                                th:href="@{/candidatos/listaC}"><i class="fa-solid fa-right-to-bracket"></i>
                                Registrarme</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>