.head {
  padding-top: 10.5rem;
  padding-bottom: 15rem;
  text-align: center;
  color: #fff;
  background-image: url("../images/laptops-ge731ff89d_1920.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.head .subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.head .heading {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.empres-title
{

  font-size: 2.3rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.head {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.head .head-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.head .head-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}


.card-1
{
    margin-top: -250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px #000;
}

.table-shadow 
{
  
  
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px #000;
}