@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}



p {
  margin: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #8d8b8b;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 10px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  color: black;
  border-bottom: 3px solid #2A499B;
}

.topnav .active {
  color: black;
  border-bottom: 3px solid #2A499B;
}

.category .job {
  height: 280px;
  border: 1px solid transparent;
  padding: 30px 19px 25px 19px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.category .job:hover {
  border: 1px solid #0d6efd;
}

.category .job span {
  padding: 6px 20px;
  font-weight: 400;
  border-radius: 26px;
  display: inline-block;
}

.category .job .colors1 {
  font-weight: 800;
  color: #F27E42;
  background: #f27e4242;
}

.category .job .colors2 {
  font-weight: 800;
  color: #4294F2;
  background: rgba(66, 148, 255, 0.26);
}

.category .job .colors3 {
  font-weight: 800;
  color: #2EB98D;
  background: rgba(46, 185, 141, 0.03);
}

.category .job .colors4 {
  font-weight: 800;
  color: #6A42F2;
  background: rgba(106, 66, 242, 0.07);
}

.category .job .colors5 {
  font-weight: 800;
  color: #F162BC;
  background: rgba(241, 98, 188, 0.07);
}

.category .job .colors2 {
  font-weight: 800;
  color: #4294F2;
  background: rgba(66, 148, 255, 0.26);
}

.place {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 0px;
  color: #76787A;
}

.left {
  font-weight: 800;
}

.category .job span.time {
  font-weight: 900;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

/*Banner */
.main-banner{
  background-size:cover !important;
  background-position:center !important;
  padding:14% 0;
  position:relative;
  text-align:center;
  color:#ffffff;
  margin:0;
  }
  .main-banner .caption{
  position:relative;
  }
  .main-banner h2{
  color:#ffffff;
  font-weight:400;
  display: block;
   margin-bottom: 25px;
  }
  .main-banner:before{
  content:"";
  display:block;
  top:0;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
  background:rgba(12,20,25,0.3);
  }
  fieldset {
  margin-top: 52px;
  background: rgba(255,255,255,0.3);
  padding: 20px 20px 10px 20px;
  }
  fieldset .no-pad{
  margin:0;
  padding:0;
  }
  .main-banner fieldset select.selectpicker, .main-banner fieldset .form-control, .main-banner fieldset .seub-btn {
  width: 100%;
  color: #6b797c;
  padding: 19px 15px;
  border: none;
  border-radius: 0;
  height: auto;
  line-height: 1.5;
  font-size: 16px;
  height:60px;
  }
  .main-banner fieldset select.selectpicker:focus, .main-banner fieldset .form-control:focus, .main-banner fieldset .seub-btn:focus{
  outline:none;
  }
  .main-banner fieldset .border-right{
  border-right:1px solid rgba(107,121,124,0.3) !important;
  }
  .main-banner .btn.seub-btn{
  background:#da0833 ;
  color:#ffffff;
  text-transform:uppercase;
  font-size:18px;
  text-shadow:none;
  line-height: 1.2;
  }