<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Empleos G13</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/perfiles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}" />
</head>

<body>

    <header th:replace="/layout/header::header"></header>

    <section class="main-banner" style="background:#242c36 url(../images/slider-01.jpg) no-repeat;">
        <div class="container">
            <div class="caption">
                <h2>BUSQUEDA DE PERILES LABORALES</h2>
                <form th:action="@{/empleos/perfilesLaborales}">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 no-pad">
                                <input type="text" class="form-control border-right"
                                    placeholder="Nombre, Apellido, id" name="filtro" id="filtro"
                                    />
                            </div>
                            <div class="col-md-4 col-sm-3 no-pad">
                                <select class="selectpicker border-right" >
                                    <option value="">Provincia</option>
                                    <option value="Buenos Aires">Buenos Aires</option>
                                    <option value="Catamarca">Catamarca</option>
                                    <option value="Chaco">Chaco</option>
                                    <option value="Chubut">Chubut</option>
                                    <option value="Córdoba">Córdoba</option>
                                    <option value="Entre Ríos">Entre Ríos</option>
                                    <option value="Formosa">Formosa</option>
                                    <option value="Jujuy">Jujuy</option>
                                    <option value="La Pampa">La Pampa</option>
                                    <option value="La Rioja">La Rioja</option>
                                    <option value="Mendoza">Mendoza</option>
                                    <option value="Misiones">Misiones</option>
                                    <option value="Neuquén">Neuquén</option>
                                    <option value="Río Negro">Río Negro</option>
                                    <option value="Salta">Salta</option>
                                    <option value="San Juan">San Juan</option>
                                    <option value="San Luis">San Luis</option>
                                    <option value="Santa Cruz">Santa Cruz</option>
                                    <option value="Santa Fe">Santa Fe</option>
                                    <option value="Santiago del Estero">Santiago del Estero</option>
                                    <option value="Tierra del Fuego, Antártida e Islas del Atlántico Sur">Tierra
                                        del Fuego, Antártida e Islas del Atlántico Sur</option>
                                    <option value="Tucumán">Tucumán</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2 no-pad">
                                <input type="submit" class="btn seub-btn" value="Buscar"/>
                            </div>
                            <div class="col-md-2 col-sm-2 no-pad" style="border-left: 1px solid #000;">
								<input type="button" class="btn seub-btn" value="Todas" onclick="limpiar()" />
							</div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light m-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">TODAS LAS CATEGORIAS</a>
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav topnav  ms-auto">
						<li class="nav-item">
							<a class="nav-link active" href="#">Todas las <span>Categorias</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Provincia</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Fecha de publicacion</a>
						</li>
					</ul>
				</div> -->
            </div>
        </nav>
    </div>

    <div class="container  ">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" th:each="perfil:${perfiles}">
                <div class="card p-3 py-4 mt-5 mb-5 ms-5">
                    <div class="text-center">
                        <img src="/images/profile/descargar (1).jpg" width="100" class="rounded-circle">
                        <h3 class="mt-2" th:text="${perfil.nombre}+' '+${perfil.apellido}">Maria Smantha</h3>
                        <span class="mt-1 clearfix" >Android Developer</span>
                        <span class="mt-1 clearfix" th:text="${perfil.conocimientos}">Android Developer</span>
                        <span class="mt-1 clearfix" th:text="${perfil.ciudadano.calcularEdad}">Android Developer</span>
                        <span class="mt-1 clearfix" th:text="${perfil.idioma}">Android Developer</span>
                        <small class="mt-4" th:text="${perfil.pais}">I am an android developer working at google Inc at california,USA</small>
                        <div class="social-buttons mt-5">
                            <button class="neo-button"><i class="fab fa-facebook "></i> </button>
                            <button class="neo-button"><i class="fab fa-linkedin "></i></button>
                            <button class="neo-button"><i class="fab fa-google "></i> </button>
                            <button class="neo-button"><i class="fab fa-youtube "></i> </button>
                        </div>
                        <a href="" class="btn btn-primary mt-4">Contratar</a>
                    </div>
                </div>
            </div>
            
            <!-- <div class="col-md-4">
                <div class="card p-3 py-4 mt-5">
                    <div class="text-center">
                        <img src="https://i.imgur.com/nAcoHRf.jpg" width="100" class="rounded-circle">
                        <h3 class="mt-2">John Smith</h3>
                        <span class="mt-1 clearfix">Java Architect</span>
                        <small class="mt-4">I am an Java Architect working at google Inc at california,USA</small>
                        <div class="social-buttons mt-5">
                            <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button>
                            <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button>
                            <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button>
                            <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 py-4 mt-5 mb-5">
                    <div class="text-center">
                        <img src="https://i.imgur.com/nAcoHRf.jpg" width="100" class="rounded-circle">
                        <h3 class="mt-2">John Smith</h3>
                        <span class="mt-1 clearfix">Java Architect</span>
                        <small class="mt-4">I am an Java Architect working at google Inc at california,USA</small>
                        <div class="social-buttons mt-5">
                            <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button>
                            <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button>
                            <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button>
                            <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md-4" th:each="perfil:${perfiles}">
                <div class="card p-3 py-4 mt-5 mb-5" >
                    <div class="text-center">
                        <img src="https://i.imgur.com/nAcoHRf.jpg" width="100" class="rounded-circle">
                        <h3 class="mt-2" th:text="${perfil.nombre}">John Smith</h3>
                        <span class="mt-1 clearfix" th:text="${perfil.pais}">Java Architect</span>
                        <small class="mt-4">I am an Java Architect working at google Inc at california,USA</small>
                        <div class="social-buttons mt-5">
                            <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button>
                            <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button>
                            <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button>
                            <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <script type="text/javascript">
		function limpiar(){
			window.location='/empleos/perfilesLaborales'
		}
	</script>

    <footer th:replace="/layout/footer::footer"></footer>

    <script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>