<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Empleos G13</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cv.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}" />
</head>

<body>

    <header th:replace="/layout/header::header"></header>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <a th:href="@{/curriculum/editar/}+${ciudadanoActual.curriculum.curriculumNumber}"
                    class="btn btn-primary mt-5">Editar CV</a>
            </div>
            <!-- <p th:text="${ciudadanoActual.ofertaLaborales}"></p> -->
        </div>
    </div>

    <div class="container card-0 justify-content-center mt-4">
        <div class="card-body px-sm-4 px-0">
            <div class="row justify-content-center mb-2">
                <div class="col-md-10 col">
                    <h3 class="font-weight-bold ml-md-0 mx-auto text-center text-sm-left">CV </h3>
                    <p class="mt-md-4 ml-md-0 ml-2 text-center text-sm-left"> Entrust with heigh professionalism we are
                        offering pixel perfect web and mobile application development third party integration and
                        solution to our.</p>
                    <p></p>
                </div>
            </div>
            <div class="row justify-content-center round">
                <div class="col-lg-10 col-md-12 ">
                    <div class="card shadow-lg card-1">
                        <div class="card-body inner-card">
                            <div class="row justify-content-center">
                                <div class="col-lg-5 col-md-6 col-sm-12">
                                    <h2 class="" style="">Datos Personales</h2>
                                    <div class="form-group"><label for="first-name">Nombres </label><input disabled
                                            type="text" class="form-control"
                                            th:value="${ciudadanoActual.curriculum.nombre}" id="first-name"
                                            placeholder="Type your Name"> </div>
                                    <div class="form-group"> <label for="Mobile-Number">Apellido </label> <input
                                            disabled type="text" class="form-control"
                                            th:value="${ciudadanoActual.curriculum.apellido}" id="Mobile-Number"
                                            placeholder="">
                                    </div>
                                    <div class="form-group"> <label for="Mobile-Number">DNI </label> <input disabled
                                            type="text" class="form-control" id="Mobile-Number"
                                            th:value="${ciudadanoActual.dni}" placeholder="">
                                    </div>
                                    <div class="form-group"> <label for="Mobile-Number">Telefono </label> <input
                                            disabled type="text" class="form-control"
                                            th:value="${ciudadanoActual.telefono}" id="Mobile-Number" placeholder="">
                                    </div>
                                    <div class="form-group"> <label for="Mobile-Number">Fecha de nacimiento </label>
                                        <input disabled type="date" class="form-control"
                                            th:value="${ciudadanoActual.fechaNac}" id="Mobile-Number" placeholder="">
                                    </div>
                                    <div class="form-group"> <label for="Mobile-Number">Estado Civil </label>
                                        <input disabled type="text" class="form-control"
                                            th:value="${ciudadanoActual.estadoCivil}" id="Mobile-Number" placeholder="">
                                    </div>
                                    <div class="form-group"> <label for="Mobile-Number">País </label> <input disabled
                                            type="text" class="form-control"
                                            th:value="${ciudadanoActual.curriculum.pais}" id="Mobile-Number"
                                            placeholder="">
                                    </div>
                                    <h2 class="mt-2">Idiomas</h2>
                                    <div class="form-group"> <label for="Mobile-Number">Idioma </label> <input disabled
                                        type="text" class="form-control"
                                        th:value="${ciudadanoActual.curriculum.idioma}" id="Mobile-Number"
                                        placeholder="">
                                </div>
                                    <!-- <div class="form-group"> <label for="inputEmail4">Lenguaje </label> <select disabled
                                            class="form-control">
                                            <option>Ingles</option>
                                            <option>Español</option>
                                            <option>Aleman</option>
                                        </select>
                                        <div class="form-group"> <label for="inputEmail4">Nivel Oral </label> <select
                                                disabled class="form-control">
                                                <option>Básico</option>
                                                <option>Intermedio</option>
                                                <option>Avanzado</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <!-- <div class="form-group"> <label for="inputEmail4">Nivel Escrito </label> <select
                                            disabled class="form-control">
                                            <option>Básico</option>
                                            <option>Intermedio</option>
                                            <option>Avanzado</option>
                                        </select>
                                    </div> -->
                                </div>
                                <div class="col-lg-5 col-md-6 col-sm-12">
                                    <h2>Experiencia Laboral</h2>
                                    <div class="form-group"> <label for="last-name">Nombre del Puesto/Titulo</label>
                                        <input disabled type="text" class="form-control" id="last-name" placeholder="">
                                    </div>
                                    <div class="form-group"> <label for="inputEmail4">Nivel </label> <select disabled
                                            class="form-control">
                                            <option>Junior</option>
                                            <option>Senior</option>
                                            <option>Experto</option>
                                        </select>
                                    </div>
                                    <div class="form-group"> <label for="phone">Nombre de Empresa/Negocio</label> <input
                                            disabled type="text" class="form-control" id="email" placeholder=""> </div>
                                    <div class="form-group"> <label for="inputEmail4">Selecciona un País </label>
                                        <select disabled class="form-control">
                                            <option>Argentina</option>
                                            <option>Estados Unidos</option>
                                            <option>Otro</option>
                                        </select>
                                        <div class="form-group"> <label for="Evaluate Budget">Tipo de industria</label>
                                            <input disabled type="text" class="form-control" id="Evaluate Budget"
                                                placeholder="">
                                        </div>
                                        <div class="form-group"> <label for="Company-Name">Company Name</label> <input
                                                disabled type="text" class="form-control" id="Company-Name"
                                                placeholder="">
                                        </div>
                                        <div class="form-group"> <label for="inputEmail4">Country</label> <select
                                                disabled class="form-control">
                                                <option>India</option>
                                                <option>China</option>
                                                <option>UK</option>
                                            </select></div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-12 col-lg-10 col-12">
                                        <div class="form-group files"><label class="my-auto">Currículum</label>
                                            <input disabled id="file" type="file" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row  justify-content-center">
                                    <div class="col-md-12 col-lg-10 col-12">
                                        <div class="form-group"> <label
                                                for="exampleFormControlTextarea2">Message</label>
                                            <textarea disabled class="form-control rounded-0"
                                                id="exampleFormControlTextarea2" rows="5"></textarea>
                                        </div>
                                        <div class="mb-2 mt-4">
                                            <div class="text-right"><button type="button"
                                                    class="btn btn-primary btn-block"><small
                                                        class="font-weight-bold">Crear
                                                        CV</small></button> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="/layout/footer::footer"></footer>

    <script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>