<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Emplea2 Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}" />
</head>

<body>

	<header th:replace="/layout/header::header"></header>

	<div id="booking2" class="section">
		<div class="section-center">
			<div class="container">
				<div>
					<div class="booking-form">
						<form th:action="@{/empleador/guardar}" method="POST" th:object="${empleador}">
							<div class="form-group">
								<div class="form-group">
									<input type="hidden" th:field="*{empresaNumber}" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span for="cuitId" class="form-label">CUIT</span>
										<input th:field="*{cuit}" class="form-control" type="number" id="cuitId"
											placeholder="Numero de Cuit">
										<div class="alert alert-danger text-black" role="alert"
											th:if="${#fields.hasErrors('cuit')}" th:errors="*{cuit}"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span for="passwdId" class="form-label">Contraseña</span>
										<input th:field="*{contrasena}" class="form-control" type="password"
											id="passwdId" placeholder="Ingresar Contraseña">
										<div class="alert alert-danger text-black" role="alert"
											th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span for="razonId" class="form-label">Razon Social</span>
										<input th:field="*{razonSocial}" class="form-control" id="razonId" type="text"
											placeholder="Ingrese razon social">
										<div class="alert alert-danger text-black" role="alert"
											th:if="${#fields.hasErrors('razonSocial')}" th:errors="*{razonSocial}">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span for="nombreCId" class="form-label">Nombre Comercial</span>
										<input th:field="*{nombreComercial}" class="form-control" id="nombreCId"
											type="text" placeholder="Ingrese Nombre Comercial">
										<div class="alert alert-danger text-black" role="alert"
											th:if="${#fields.hasErrors('nombreComercial')}"
											th:errors="*{nombreComercial}"></div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<span for="inicioId" class="form-label">Inicio de Actividad</span>
										<input th:field="*{inicioActividad}" class="form-control" id="inicioId"
											type="date" th:value="*{inicioActividad}">
										<div class="alert alert-danger text-black" role="alert"
											th:if="${#fields.hasErrors('inicioActividad')}"
											th:errors="*{inicioActividad}"></div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Email</span>
										<input th:field="*{email}" for="emailId" class="form-control" id="emailId"
											type="email" placeholder="Ingrese Email">
										<div class="alert alert-danger text-black" role="alert"
											th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<span for="telefonoId" class="form-label">Telefono</span>
										<input th:field="*{telefono}" class="form-control" id="telefonoId" type="text"
											placeholder="Ingrese numero de tramite">
										<div class="alert alert-danger text-black" role="alert"
											th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span for="domicilioId" class="form-label">Domicilio</span>
										<input th:field="*{domicilio}" class="form-control" id="domicilioId" type="text"
											placeholder="Ingrese Domicilio">
										<div class="alert alert-danger text-black" role="alert"
											th:if="${#fields.hasErrors('domicilio')}" th:errors="*{domicilio}"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span for="provinciaId" class="form-label">Provincia</span>
										<select class="form-control" th:field="*{provincia}" id="provinciaId"
											name="provincia">
											<!-- <option th:each="provincia : ${provincias}" th:value="${provincia.codigo}"
												th:text="${provincia.nombreP}">
											</option> -->
											<option value="">Seleccione</option>
											<option value="Buenos Aires">Buenos Aires</option>
											<option value="Catamarca">Catamarca</option>
											<option value="Chaco">Chaco</option>
											<option value="Chubut">Chubut</option>
											<option value="Córdoba">Córdoba</option>
											<option value="Entre Ríos">Entre Ríos</option>
											<option value="Formosa">Formosa</option>
											<option value="Jujuy">Jujuy</option>
											<option value="La Pampa">La Pampa</option>
											<option value="La Rioja">La Rioja</option>
											<option value="Mendoza">Mendoza</option>
											<option value="Misiones">Misiones</option>
											<option value="Neuquén">Neuquén</option>
											<option value="Río Negro">Río Negro</option>
											<option value="Salta">Salta</option>
											<option value="San Juan">San Juan</option>
											<option value="San Luis">San Luis</option>
											<option value="Santa Cruz">Santa Cruz</option>
											<option value="Santa Fe">Santa Fe</option>
											<option value="Santiago del Estero">Santiago del Estero</option>
											<option value="Tierra del Fuego, Antártida e Islas del Atlántico Sur">Tierra
												del Fuego, Antártida e Islas del Atlántico Sur</option>
											<option value="Tucumán">Tucumán</option>
										</select>
										<div class="alert alert-danger text-black" role="alert"
											th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<span for="paginaId" class="form-label">Pagina Web</span>
										<input th:field="*{paginaWeb}" class="form-control" id="paginaId" type="text" placeholder="Ingrese Pagina Web">
										<div class="alert alert-danger text-black" role="alert"
										th:if="${#fields.hasErrors('paginaWeb')}" th:errors="*{paginaWeb}"></div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="form-group">
										<span for="descripcionId" class="form-label">Descripcion</span>
										<textarea th:field="*{descripcion}" class="form-control" id="descripcionId" rows="1"></textarea>
									</div>
								</div>
								<div hidden class="form-outline mb-4" type="hidden">
									<label class="form-label" for="perfilId" type="hidden">Perfil </label>
									<select type="hidden" class="form-select" th:field="*{perfil}" name="perfil"
										id="perfilId">
										<option value="empleador">Empleador</option>
									</select>
									<div class="alert alert-danger text-black" role="alert"
										th:if="${#fields.hasErrors('perfil')}" th:errors="*{perfil}"></div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-btn">
										<button class="submit-btn text-center">Registrar</button>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-btn">
										<button class="submit-btn text-center">Volver</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="/layout/footer::footer"></footer>

	<script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
<!-- PRUEBA COMMIT AND PUSH-->