<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Emplea2 Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}" />
</head>

<body>

	<header th:replace="/layout/header::header"></header>

	<div id="booking2" class="section">
      <div class="section-center">
         <div class="container">
            <div>
               <div class="booking-form">
                  <form>
                     <div class="form-group">
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <span class="form-label">CUIT</span>
                              <input class="form-control" type="number" placeholder="Numero de Cuit">
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <span class="form-label">Contraseña</span>
                              <input class="form-control" type="password" placeholder="Ingresar Contraseña">
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <span class="form-label">Razon Social</span>
                              <input class="form-control" type="text" placeholder="Ingrese razon social">
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <span class="form-label">Nombre Comercial</span>
                              <input class="form-control" type="text" placeholder="Ingrese Nombre Comercial">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Inicio de Actividad</span>
                              <input class="form-control" type="date" required>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Email</span>
                              <input class="form-control" type="email" placeholder="Ingrese Email">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Telefono</span>
                              <input class="form-control" type="text" placeholder="Ingrese Telefono">
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <span class="form-label">Domicilio</span>
                              <input class="form-control" type="text" placeholder="Ingrese Domicilio" required>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <span class="form-label">Provincia</span>
                              <select class="form-control">
                                 <option>Jujuy</option>
                                 <option>Salta</option>
                                 <option>Tierra del Fuego, Antartida e Islas del Atlantico Sur</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Pagina Web</span>
                              <input class="form-control" type="text" placeholder="Ingrese Pagina Web" required>
                           </div>
                        </div>
                        <div class="col-md-8">
                           <div class="form-group">
                              <span class="form-label">Descripcion</span>
                              <textarea class="form-control" id="exampleFormControlDesc" rows="1"></textarea>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-3">
                           <div class="form-btn">
                              <button class="submit-btn text-center">Registrar</button>
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="form-btn">
                              <button class="submit-btn text-center">Volver</button>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>


	<footer th:replace="/layout/footer::footer"></footer>

	<script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
<!-- PRUEBA COMMIT AND PUSH-->