<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title>Empleos G13</title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}" />
</head>

<body>

   <header th:replace="/layout/header::header"></header>

   <div id="booking3" class="section">
      <div class="section-center">
         <div class="container">
            <div>
               <div class="booking-form">
                  <form>
                     <div class="form-group">
                     </div>
                     <div class="row">
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Cant de Vacantes.</span>
                              <input class="form-control" type="number" placeholder="Ingrese cantidad de vacantes">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Puesto Requerido</span>
                              <input class="form-control" type="text" placeholder="Ingrese puesto requerido">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Disponibilidad Horaria</span>
                              <input class="form-control" type="text" placeholder="Ingrese sus horarios disponibles">
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <span class="form-label">Resumen del puesto</span>
                              <textarea class="form-control" id="exampleFormControlDesc" rows="1"></textarea>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <span class="form-label">Tareas Principales</span>
                              <textarea class="form-control" id="exampleFormControlDesc" rows="1"></textarea>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Datos de Contacto</span>
                              <input class="form-control" type="text" placeholder="Ingrese sus datos de contacto">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Jornada</span>
                              <input class="form-control" type="text" placeholder="Ingrese jornada">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Salario</span>
                              <input class="form-control" type="number" placeholder="Ingrese el salario $$$">
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <span class="form-label">Requisitos</span>
                              <textarea class="form-control" id="exampleFormControlDesc" rows="1"></textarea>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <span class="form-label">Beneficios</span>
                              <textarea class="form-control" id="exampleFormControlDesc" rows="1"></textarea>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4">
                           <div class="form-group">
                              <span class="form-label">Disponibilidad</span>
                              <select class="form-control">
                                 <option>Disponible</option>
                                 <option>Agotado</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-btn">
                              <button class="submit-btn text-center">Registrar</button>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-btn">
                              <button class="submit-btn text-center">Volver</button>
                           </div>
                        </div>
                     </div>
                     <div class="row">

                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>

   <footer th:replace="/layout/footer::footer"></footer>

   <script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
   <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>