<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}" />
</head>

<body>

	<header th:replace="/layout/header::header"></header>
	  
	<div id="loginform">
	   <div class=" p-5" >
	     <div class="card">
	       <div class="card-body">
	         <form>
	           <h2 class="text-center">Iniciar Seción</h2>
	           <!--Dni-->
	           <div class="mb-3">
	             <label for="exampleInputDni" class="form-label">DNI</label>
	             <input type="number" class="form-control" id="exampleInputDni">
	           </div>
	           <!--Contrasenia-->
	           <div class="mb-3">
	             <label for="exampleInputPassword1" class="form-label">Contraseña</label>
	             <input type="password" class="form-control" id="exampleInputPassword1">
	           </div>
	           <div class="text-center">
	             <button type="submit" class="btn btn-dark" >Acceder</button>
	             <button type="submit" class="btn btn-dark">Volver</button>
	           </div>
	         </form>
	       </div>
	     </div>
	   </div>
	</div>

	<footer th:replace="/layout/footer::footer"></footer>

<script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
<!-- PRUEBA COMMIT AND PUSH-->