<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Empleos G13</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/trabajo.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}" />
</head>

<body>

	<header th:replace="/layout/header::header"></header>

	<section class="main-banner" style="background:#242c36 url(../images/slider-01.jpg) no-repeat;">
		<div class="container">
			<div class="caption">
				<h2>TRABAJOS EN TECNOLOGÍA. ENCONTRÁ EL TUYO HOY</h2>
				<form th:action="@{/ofertaLaboral/verEmpleos}">
					<fieldset>
						<div class="row">
							<!-- <div class="col-md-4 col-sm-4 no-pad">
								<input type="text" class="form-control border-right"
									placeholder="Skills, Designation, Companies" />
							</div> -->
							<div class="col-md-4 col-sm-3 no-pad">
								<select class="selectpicker border-right" name="provincia" id="provincia"
									th:value="provincia">
									<option value="">Provincia</option>
									<option value="Buenos Aires">Buenos Aires</option>
									<option value="Catamarca">Catamarca</option>
									<option value="Chaco">Chaco</option>
									<option value="Chubut">Chubut</option>
									<option value="Córdoba">Córdoba</option>
									<option value="Entre Ríos">Entre Ríos</option>
									<option value="Formosa">Formosa</option>
									<option value="Jujuy">Jujuy</option>
									<option value="La Pampa">La Pampa</option>
									<option value="La Rioja">La Rioja</option>
									<option value="Mendoza">Mendoza</option>
									<option value="Misiones">Misiones</option>
									<option value="Neuquén">Neuquén</option>
									<option value="Río Negro">Río Negro</option>
									<option value="Salta">Salta</option>
									<option value="San Juan">San Juan</option>
									<option value="San Luis">San Luis</option>
									<option value="Santa Cruz">Santa Cruz</option>
									<option value="Santa Fe">Santa Fe</option>
									<option value="Santiago del Estero">Santiago del Estero</option>
									<option value="Tierra del Fuego, Antártida e Islas del Atlántico Sur">Tierra
										del Fuego, Antártida e Islas del Atlántico Sur</option>
									<option value="Tucumán">Tucumán</option>
								</select>
							</div>
							<!-- <div class="col-md-4 col-sm-3 no-pad">
								<select class="selectpicker">
									<option>Fecha Publicacion</option>
									<option>Accounf & Finance</option>
									<option>Information & Technology</option>
									<option>Marketing</option>
									<option>Food & Restaurent</option>
								</select>
							</div> -->
							<div class="col-md-2 col-sm-4 no-pad">
								<input type="date" class="form-control border-right" placeholder="Desde" />
							</div>
							<div class="col-md-2 col-sm-4 no-pad">
								<input type="date" class="form-control border-right" placeholder="Hasta," />
							</div>
							<div class="col-md-2 col-sm-2 no-pad">
								<input type="submit" class="btn seub-btn" value="Buscar" />
							</div>
							<div class="col-md-2 col-sm-2 no-pad" style="border-left: 1px solid #000;">
								<input type="button" class="btn seub-btn" value="Todas" onclick="limpiar()" />
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</section>

	<div class="container">

		<nav class="navbar navbar-expand-lg navbar-light bg-light m-5">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">TODAS LAS CATEGORIAS</a>
				<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav topnav  ms-auto">
						<li class="nav-item">
							<a class="nav-link active" href="#">Todas las <span>Categorias</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Provincia</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Fecha de publicacion</a>
						</li>
					</ul>
				</div> -->
			</div>
		</nav>
		<!-- <div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="category mb-30">
					<div class="job">
						<span class="colors1 mb-4">Creative &amp; Art</span>
						<h5><a href="#">User Experience Designer Employee</a></h5>
						<ul class="place">
							<li>
								<p><i class="fas fa-map-marker-alt pe-2"></i> New York, USA</p>
							</li>
							<li>
								<p class="ps-5"><i class="fas fa-map-marker-alt pe-2"></i>Full Time</p>
							</li>
						</ul>
						<div class="d-flex align-items-center justify-content-between">
							<div class="left">
								<p>Globe Solution Ltd.</p>
							</div>
							<span class="time">2h ago</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="category mb-30">
					<div class="job">
						<span class="colors2 mb-4">Finance &amp; Accounting</span>
						<h5><a href="#">Foreign Language Research Analyst</a></h5>
						<ul class="place">
							<li>
								<p><i class="fas fa-map-marker-alt pe-2"></i> New York, USA</p>
							</li>
							<li>
								<p class="ps-5"><i class="fas fa-map-marker-alt pe-2"></i>Full Time</p>
							</li>
						</ul>
						<div class="pricing d-flex justify-content-between align-items-center">
							<div class="left">
								<p>Globe Solution Ltd.</p>
							</div>
							<span class="time">2h ago</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="category mb-30">
					<div class="job">
						<span class="colors3 mb-4">Medical</span>
						<h5><a href="#">Medical Assistant, East Valley Primary Care</a></h5>
						<ul class="place">
							<li>
								<p><i class="fas fa-map-marker-alt pe-2"></i> New York, USA</p>
							</li>
							<li>
								<p class="ps-5"><i class="fas fa-map-marker-alt pe-2"></i>Full Time</p>
							</li>
						</ul>
						<div class="pricing d-flex justify-content-between align-items-center">
							<div class="left">
								<p>Globe Solution Ltd.</p>
							</div>
							<span class="time">2h ago</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="category mb-30">
					<div class="job">
						<span class="colors4 mb-4">Corporate</span>
						<h5><a href="#">Foreign Language Research Analyst</a></h5>
						<ul class="place">
							<li>
								<p><i class="fas fa-map-marker-alt pe-2"></i> New York, USA</p>
							</li>
							<li>
								<p class="ps-5"><i class="fas fa-map-marker-alt pe-2"></i>Full Time</p>
							</li>
						</ul>
						<div class="pricing d-flex justify-content-between align-items-center">
							<div class="left">
								<p>Globe Solution Ltd.</p>
							</div>
							<span class="time">2h ago</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="category mb-30">
					<div class="job">
						<span class="colors5 mb-4">Marketing</span>
						<h5><a href="#">User Experience Designer Employee</a></h5>
						<ul class="place">
							<li>
								<p><i class="fas fa-map-marker-alt pe-2"></i> New York, USA</p>
							</li>
							<li>
								<p class="ps-5"><i class="fas fa-map-marker-alt pe-2"></i>Full Time</p>
							</li>
						</ul>
						<div class="pricing d-flex justify-content-between align-items-center">
							<div class="left">
								<p>Globe Solution Ltd.</p>
							</div>
							<span class="time">2h ago</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="category mb-30">
					<div class="job">
						<span class="colors2 mb-4">Programming &amp; IT</span>
						<h5><a href="#">Medical Assistant, East Valley Primary Care</a></h5>
						<ul class="place">
							<li>
								<p><i class="fas fa-map-marker-alt pe-2"></i> New York, USA</p>
							</li>
							<li>
								<p class="ps-5"><i class="fas fa-map-marker-alt pe-2"></i>Full Time</p>
							</li>
						</ul>
						<div class="pricing d-flex justify-content-between align-items-center">
							<div class="left">
								<p>Globe Solution Ltd.</p>
							</div>
							<span class="time">2h ago</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 d-flex align-items-center justify-content-center"
				sec:authorize="hasAuthority('EMPLEADOR')">
				<div class="btn btn-primary mb-30">
					<span>Pulbicar Empleo </span>
					<span class="fas fa-arrow-right"></span>
				</div>
			</div>
		</div> -->
	</div>
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6" th:each="ofertaLaboral:${ofertasLaborales}">
					<div class="category mb-30">
						<div class="job">
							<span class="colors1 mb-4" th:text="${ofertaLaboral.puesto}"></span>
							<h5 th:text=" 'Puesto: '+ ${ofertaLaboral.resumen}"><a href="#"> </a></h5>
							<ul class="place">
								<li>
									<p th:text=" 'Vacantes: '+ ${ofertaLaboral.cantVacantes}"><i
											class="fas fa-map-marker-alt pe-2"></i></p>
								</li>
								<li>
									<p th:text=" 'Jornada: ' + ${ofertaLaboral.jornada}" class="ps-5"><i
											class="fas fa-map-marker-alt pe-2"></i></p>
								</li>
								<li>
									<p th:text=" 'Salario: ' + ${ofertaLaboral.salario}+'$'" class="ps-5"><i
											class="fas fa-map-marker-alt pe-2"></i></p>
								</li>
								<li>
									<p th:text=" 'Datos: ' + ${ofertaLaboral.datos}" class="ps-5"><i
											class="fas fa-map-marker-alt pe-2"></i></p>
								</li>
							</ul>
							<div class="d-flex align-items-center justify-content-between">
								<div class="left">
									<p th:text="${ofertaLaboral.disponibilidad}">Globe Solution Ltd.</p>
								</div>
								<span class="time" th:text="${ofertaLaboral.provincia}"></span>
								<a sec:authorize="hasAuthority('CIUDADANO')"
									th:href="@{/ciudadano/verEmpleo/}+${ofertaLaboral.oferNumber}"
									class="btn btn-sm btn-primary"> Detalles</a>
								
									<div class="text-center">
											<a sec:authorize="hasAuthority('CIUDADANO')" href=""
									class="btn btn-sm btn-primary" data-bs-toggle="modal"
									data-bs-target="#exampleModal">Solicitar</a>
									</div>
									<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
										aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<div class="text-center">
														<h5 class="modal-title " id="exampleModalLabel">Aplicar Empleo</h5>
													</div>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<div class="text-center">
														<img src="https://i.imgur.com/l4gliRI.png">
													</div>
													<p class="text-center text-success text-uppercase fs-5 fw-bold">Esta
														seguro de solicitar el empleo?</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Close</button>
													<a th:href="@{/ofertaLaboral/eliminar/}+${ofertaLaboral.oferNumber}"
														id="eliminarDocente" class="btn btn-primary">Solicitar</a>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 d-flex align-items-center justify-content-center"
				sec:authorize="hasAuthority('EMPLEADOR')">
				<div>
					<a class="btn btn-primary mb-30" th:href="@{/ofertaLaboral/nuevo}">Publicar Empleo <span
							class="fas fa-arrow-right"></span></a>

				</div>
			</div>
		</div>
	</div>
	</div>

	<script type="text/javascript">
		function limpiar(){
			window.location='/ofertaLaboral/verEmpleos'
		}
	</script>

	<footer th:replace="/layout/footer::footer"></footer>

	<script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>